@import url("https://fonts.googleapis.com/css2?family=Inter&family=Noto+Emoji&family=Bree+Serif&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Bree Serif", serif;
  border-radius: 22px;
  overflow: hidden;
  padding: 8px;
}
html {
  box-sizing: border-box;
  font-size: 22px;
  overflow: hidden;
  border-radius: 22px;
  color: whitesmoke;
  background-color: black;
}

/* adjust typography defaults */
body {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
hr {
  padding: 0px !important;
}
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v226/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2)
    format("woff2");
}

.material-symbols-rounded,
.selected-material-symbol {
  font-family: "Material Symbols Rounded", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  user-select: none;
}
.selected-material-symbol {
  font-family: "Material Symbols Rounded", sans-serif;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24 !important;
  user-select: none;
}
.subtitle {
  color: lightgray;
  font-size: 18px;
  line-height: 1;
}
.full-width {
  width: 100%;
}
#backgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(16px);
  z-index: 0;
  padding: 0px;
  margin-top: -20px;
  z-index: -1;
}
.content {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: max(min(350px, 100%), 80%);
  overflow: hidden;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.copy-alert-container {
  position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(0, 0, 0, 0.2);
          padding: 16px;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          display: flex;
          align-items: center;
          z-index: 9999;
          transition: opacity 0.3s ease-in-out; /* Add transition */

}